[2017-04-01 19:30] wyze opened #4 "Package not found: resolving package Immutable.re"
Full error:

[code]

I think since Immutable.re is listed in `bs-dependencies` that it needs to be under `dependencies` in the `package.json` as well, otherwise it won't get installed when adding `reductive` as a dependency to a project.

[2017-04-03 06:03] rickyvetter commented on #4
Hmm - looking into how to mark bs-dependencies as dev. Immutable.re should only re required for contributions/testing.

[2017-04-04 21:30] wyze commented on #4
Looks like this was fixed on master: https://github.com/bloomberg/bucklescript/issues/1490

[2017-04-04 22:54] #4 closed

[2017-05-13 22:10] steida opened #11 "Redux as common API"
I suppose the best advantage of Redux is hook able API enabling plugins ecosystem. How would it be possible with Reason and without Redux? Thank you.

[2017-05-14 01:01] rickyvetter commented on #11
Great question. `createStore` in redux accepts a second argument which is usually satisfied by using `createMiddleware` which under the hood composes an arbitrary number of functions passed to it.

All redux middleware essentially satisfies the `store => next => action => someReturnVal` API (where `next` is of type `action => someReturnVal`. This has really nice properties of being able to compose

[2017-05-14 03:11] steida commented on #11
Thank you. It reminds me why I refused Redux originally. I had a Redux like lib in Este, and I refused Redux because everything is function and functions are composable, but Abramov had good arguments because of JavaScript. Great I was correct in Reason language at least :-)

[2017-05-19 05:39] rickyvetter commented on #11
Updated the middleware examples in #12. If you have any other questions feel free to open another issue :)

[2017-05-19 05:39] #11 closed

[2017-06-06 20:10] steida opened #13 "Reason Redux lite"
I understand why we might not need Redux in Reason, still, I have some questions.

Without Redux, app state is in the top component, which is actually composition root.
We can pass props and we can also share props across components.
But, isn't data a side effect, which naturally belongs to React context?
I believe we still need context actions dispatcher because it initiates side effect change.
M

[2017-06-06 20:41] rickyvetter commented on #13
I think it makes sense for the dispatcher to be passed as a prop over context because it is more explicit in intent and easier to trace callsites. Why do you think context makes sense for dispatching? One problem I see is you could theoretically be dispatching at multiple levels of your app - say you have AppB which consumes and renders AppA - how would AppA components know where to dispatch?

Rea

[2017-06-06 20:47] steida commented on #13
Prop is for components only, context affects whole app state.

[2017-06-06 21:44] rickyvetter commented on #13
In practice there isn't any difference between whole app state and component state of your react root. I think that context isn't understood/supported well enough to be encouraged. If you're interested in this problem space, I'd love to see an implementation that works the way you expect to compare to something like reductive and plain react state management!

[2017-07-06 03:36] chenglou opened #14 "Upgrade to rr 0.2.1"
Do it @rickyvetter

[2017-07-10 03:19] rickyvetter commented on #14
Upgraded to 0.2.3 in #15

[2017-07-10 03:19] #14 closed

[2017-07-30 17:11] glennsl opened #16 "Add LICENSE?"

[2017-08-04 22:57] #16 closed

[2017-08-24 21:34] steida commented on #13
Still, I think context pro app "constants" makes sense. For example: i18n, themes, router, etc.

[2017-08-27 07:08] rickyvetter commented on #13
I think there might be some valid use cases for context, definitely. But the API is unstable and has unexpected complexities when implemented for non-constants.

I would recommend following https://github.com/reasonml/reason-react/issues/25. Once context is supported in reason-react and we know more about a stable API, we can talk about how it would make sense to work with this in reductive.

Clos

[2017-08-27 07:08] #13 closed

[2017-09-18 19:34] frankwallis opened #19 "consider swapping the action & state parameters"
see https://github.com/reasonml/reason-react/issues/62

If this is going to be the redux implementation for reason then it would make sense if the reducer parameters match those of reducerComponent to make it easier to pull reducers out of components and into global state.

I understand the advice that this library may not be necessary but IMHO pulling state out of components and into a global sta

[2017-09-22 05:09] rickyvetter commented on #19
I'm conflicted about this. reductive doesn't have the same async constraints that React fiber reducers do. There also isn't a huge advantage to the swap since they still would require a refactor. Reason React reducers are of type `'action => 'state => update 'state 'sideEffects` and reductive, if this change were made, would be of type `'action => 'state => 'state`. Right now I don't think change

[2017-09-23 13:14] frankwallis commented on #19
I did not realise that the component reducers allow you to return side-effects, I think it would be amazing if reductive also supported this as it is a 'missing piece' in Redux.

I have a use case in mind for this - my application displays a list of 'growl' notifications which are held  in the central state and managed by a reducer with a ```Notify``` action and a ```Dismiss``` action. I would lik

[2017-10-09 11:38] rickyvetter commented on #19
Yeah modeling after the reason-react API with `UpdateWithSideEffects 'state (Store.t 'action 'state)` makes sense to me. It's a pretty big change from the current API and deviates from redux much more than I was anticipating.

I think I'd rather see reason-react stores as another library. This one should be familiar to redux users and can point to better alternatives if we think there is one.

[2017-11-21 10:50] AaronVasquez opened #21 "Additional Documentation"
The docs say that this library isn't needed since Reason has good enough construction blocks out of the box. Is there a sample project I can see where the redux architecture is done using ReasonML construction blocks? It would be helpful to also include this in the docs.

[2017-12-23 02:30] chenglou commented on #21
Hey. ReasonReact comes with reducers out of the box: https://github.com/reasonml-community/reductive#word-of-caution

We encourage local state management. It's much more performant and contains basically no layers of indirections. This library was set up as a demonstration of what redux would look like in Reason, but, just like with Elm, it's only a demo and isn't really used.

Please do take a lo

[2017-12-23 02:30] #21 closed

[2017-12-26 02:57] hedgepigdaniel opened #24 ""enhancer" is actually a middleware, not an enhancer"
I think there is a misunderstanding in Reductive about what a Redux enhancer is. From the redux docs:

* A [middleware](https://github.com/reactjs/redux/blob/master/docs/Glossary.md#middleware) is a function from `getState` (returns the current state of the store), `dispatch` (dispatches an action to the store), and `next` (dispatches an action to the next middleware in the chain). A middleware in

[2018-01-09 21:08] bstro opened #25 "Connect"
I haven't heard anyone discuss anything related to the use of `connect` with regards to reducer components in ReasonML. Does such a thing even make sense within the context of reasonml? The way `connect` reduces coupling between state and component hierarchies is very desirable to me. Is there a way to achieve the same thing?

[2018-01-09 21:24] quicksnap commented on #25
Since static typing is much more robust in Reason, it is generally frowned upon to use a shortcut such as `connect`. Creating a prop that is passed down through the entire tree of your app is likely a better solution.

Would love to hear other opinions.

[2018-01-09 21:28] quicksnap commented on #25
Damn.. I deleted my previous comment because I thought I was mixed up.. but I'll try again:

Since static typing in Reason is much more robust than Javascript, using a "shortcut" such as `connect` is generally frowned upon. It's much clearer simply to pass down a prop through your component tree and leverage the type system.

You can also pass down a "bag" of your state, dispatch, actions, etc.

O

[2018-01-09 22:20] bstro commented on #25
Doesn't this introduce coupling between state/paths to data in state and your component tree? i.e. coupling two hierarchies together.

[2018-02-04 14:28] aappddeevv commented on #13
You could allow the self record passed to the lifecycle methods to be extensible by component authors and create a mkSelf type method to allow it to be created. That way you could add anything you want to self and make it available in your component. This would require a change in the reasonreact but can be API neutral. It would make the api for people who want to change it for a specific componen

[2018-03-03 13:08] stfoo opened #26 "Usage discouragement in readme"
Hi!

Sorry if what I am about to say is complete rubbish. I am new to `reason` and `reason-react` and maybe I just didn't grasp some basic concepts yet.

In the intro you are saying:

I don't understand this point. You are talking about built-in reducers like it is an alternative to a global state. But we are mainly using redux for managing app state, not a component state. In what way built-in re

[2018-03-03 19:54] conartist6 commented on #26
Not complete rubbish! Actually your bug report here is more informative than either the Reason or Reductive documentation as to what the limitations of Reason's reducerComponent are, what an application which opted not to use Reductive would look like, and what some indications for the use of Reductive might be.

[2018-03-03 21:38] conartist6 commented on #26
Also the more I think about this the more I disagree with the conclusion that Reductive probably isn't necessary.

If you just create a global compositor/store component, you are indeed stuck passing around global state as props through a chain of components that may not actually depend on them.

One of two things will happen:
- You'll pass the whole global state record around, and since it is imm

[2018-03-03 22:43] quicksnap commented on #26
This is a great discussion to be had!

I'm a _huge_ fan of Redux. In my work, it has offered me these advantages:

### Preventing prop-passing and unnecessary coupling via props:

As mentioned, having components a bag of the entire state into a component which needs global state feels unwieldy. It tends to yield a pattern of every component in the app needing access to the global state object, whi

[2018-03-04 00:52] conartist6 commented on #25
I'm confused. There is an analog of connect; it's `Provider.createMake`. Am I wrong?

[2018-03-05 18:46] bstro commented on #25
Looks like you're right and I missed it :) Thanks!

[2018-03-05 18:46] #25 closed

[2018-03-05 18:56] conartist6 commented on #25
Great! I personally still think that the only way to describe solid patterning involves using createMake. See #26 for my reasoning. That language features make it convenient in the most simplistic situations not to use a container component seems irrelevant to me.

[2018-03-12 12:04] jeremyjh commented on #26
Well, this is a good warning that should be at the top of the Redux repository as well frankly. Small apps are better off with component state and newcomers to React should definitely start there.

What I get from the README, on the other hand, is "you don't need a state manager because Reason". This is confusing and frankly, just wrong. Nothing about Reason/OCaml changes any of the very excellent

[2018-03-12 15:41] conartist6 commented on #26
Oh jeez, I made a mistake, mostly because I'm looking at Reason from the perspective of thinking about using it, rather than as an experienced user already.

I thought Reason components would not adopt the React pattern of always rerendering no matter what. Unfortunately, they do. See https://github.com/reasonml/reason-react/blob/9e344b8a059ca82e88ca575bebc60abb9deac0d8/ReactMini/src/React.re#L134

[2018-03-12 22:43] jeremyjh commented on #26
@conartist6 From a quick read of `reductive` source I do not think it is going to do that for us either. It renders as long as the State is populated. react-redux accomplishes this render on changed state behavior through the higher-order connect component - this is why we have the mapStateToProps ceremony. Without that or something like it I don't see how the framework can know what data is actua

[2018-03-13 08:11] conartist6 opened #27 "Reductive doesn't avoid supurious rerenders"
See: https://github.com/reasonml-community/reductive/blob/master/src/reductive.re#L64

The way createMake is written Reductive would never be able to perform the function of avoiding rerenders because there's only one action type and individual action types need to explicitly pattern match to whether or not an update should be done when in use by a reducer component.

React/Redux patterned applica

[2018-03-13 08:13] conartist6 commented on #26
Instead of connect there's createMake (undocumented), which has a different name because it isn't just a wrapper for connect. But, in an amazing twist, it doesn't protect you from spurious rerenders either!

I just opened #27 on it. As far as I can tell this is a big part of why there's a usage discouragement. Without that, there's not a lot of point to the library for most users.

[2018-03-13 08:33] conartist6 commented on #26
So the usage discouragement is actually a great point. There isn't any purpose or intent to what this code does.

[2018-04-22 12:43] JasoonS commented on #26
I haven't started using ReasonReact or Reductive (**disclaimer**), but I'm super glad I read this.

But it is true, writing `mapStateToProps` is a 'ceremony' that makes us conscious of what state we want in our components. Similarly working with this Reductive and making the app run efficiently would require people making a 'ceremony' of `shouldUpdate`. Although it must me said that the ceremony f

[2018-04-22 15:41] conartist6 commented on #26
Well, you create the rather unpleasant issue that if you forget to adjust shouldComponentUpdate when you use a new piece of state data you'll get stale data.

However this does make clear to me one thing that Reductive does in this situation, which is to allow a child component to receive updates on a piece of state that their parent elected not to update on. If you were just passing your global s

[2018-04-22 16:48] jeremyjh commented on #26
That's right. `mapStateToProps` doesn't ONLY let react-redux determine what has changed, it also enables your component to access the data it needs. While it could contain data you don't use, it is not possible for you to use data that react-redux doesn't know about. This isn't true for reductive.

[2018-05-08 16:59] joshburgess opened #30 "Integration with Redux devtools"
What do you all think of providing some out of box integration with the Redux devtools?

A number of js state management alternatives do this. Libraries like ngrx, react-waterfall, react-automata, an unreleased library I'm currently working on, etc.

I could help work on a PR if people are interested in this.

[2018-05-08 17:41] quicksnap commented on #30
I would LOVE that, however, we are currently limited by the Bucklescript's internal memory representation of records/variants as arrays; we don't have record keys available for serialization.

Related: https://github.com/BuckleScript/bucklescript/pull/2690 and https://github.com/BuckleScript/bucklescript/issues/2556

[2018-05-08 18:44] joshburgess commented on #30
Interesting. So, I guess this a really practical example of this being a problem, like you were describing in the interview before.

FWIW, PureScript records compile to plain JS objects. I think that's the right way to go, purely for simplicity & interop reasons...

[2018-05-08 18:54] quicksnap commented on #30
The reasoning behind records as arrays is that Bucklescript is _very_ performance optimized, and working with arrays has a lot of performance benefits.

From what I'm aware, debug output (which should cover this use case) is an upcoming focus of the Reason core team.

I am also not as concerned with lightning-speed performance than I am with great debugging experience, but given that they're worki

[2018-05-08 18:59] quicksnap commented on #30
Re: interop, there are mechanisms available for userland Records=>JS.Object: https://bucklescript.github.io/docs/en/generate-converters-accessors.html#convert-between-jst-object-and-record

These require opt-in by the user, however, and aren't good for the general case such as this.

[2018-06-05 05:20] joshburgess commented on #30
New BuckleScript features should help with this https://bucklescript.github.io/blog/2018/05/21/release-3-1-0.html

[2018-08-30 03:29] nlfiedler commented on #26
@ariagaming
1. Is this boundComponent/fmap idea similar to render props?
2. Yes, agree that lenses are a splendid approach. The [Rationale](https://github.com/jonlaing/rationale) `Lens.re` looks promising.
3. The additional layer sounds like redux-saga/redux-observable, am I right? Absolutely agree that something of this sort will be needed.

[2018-09-13 16:03] nlfiedler commented on #26
In case anyone is interested, I attempted to address the render issue in pull request #35. Please let me know your thoughts.

[2018-10-10 16:14] nlfiedler opened #36 "Is this project being maintained?"
If not, I would be more than happy to take on that responsibility. I love ReasonML and this project and I want to see it thrive. Application state management is an important aspect of the projects I work on, so having a well maintained library is crucial for me.

At the very least, please comment on my pull requests.

[2018-10-27 09:47] melbourne2991 commented on #36
Damn it, just spent the last couple of hours trying to figure that curry error out - the one mentioned in one of your PRs (assuming it was something I had done due to this all being new territory for me).

@nlfiedler It might be worth just forking it at this point as it seems as though the original maintainers may have gone awol.

[2018-11-05 00:38] nlfiedler commented on #36
@wyze Do you have any suggestions for how to move forward with this project? You're in the reasonml-community, and have contributed to this repo in the past, so I'm hoping you know how to respond to questions about the maintenance of this project.

[2018-11-08 12:42] wyze commented on #36
Hey Nathan,

Sorry for the delayed response. According to the readme in https://github.com/reasonml-community/meta it should be maintained by @rickyvetter. Looks like I do have permissions to merge PRs so I can take a look at them.

In the meantime, we can see if we can summon @glennsl and see about getting you added to the maintainers of this project.

[2018-11-08 16:18] quicksnap commented on #36
I do monitor some of these threads, but I'm very removed from ReasonML so I can't add much. I lack the permissions to add someone else.

[2018-11-10 21:40] glennsl commented on #36
@nlfiedler Could you try to get hold of @rickyvetter on Discord? Or alternatively @chenglou, who should be able to reach Ricky IRL.

I don't want to go over their heads, especially since I'm not much involved in the community these days. But if all else fails, I think we can assign a new maintainer if three org members support it.

[2018-11-10 21:47] rickyvetter commented on #36
Hey folks! Apologies for being missing for a while here. I'm working mostly on some FB internal projects and have been somewhat ignoring open source stuff. This is my bad. Looking at the PRs first right now and then I'll look at the open issues.

If someone else is interested in helping/taking over maintenance, please reach out!

[2018-11-18 20:43] #19 closed

[2018-11-19 04:17] nlfiedler commented on #26
Tried to remove the warning, but it seems it's been discussed and honed to its current state. For now, we can describe why reductive is useful, and let people decide for themselves.

[2018-11-19 06:06] ambientlight commented on #30
@joshburgess: It does help. Here is quite an experimental but working example.
Once ``"bsc-flags": ["-bs-g"]`` is added to `bsconfig.json`, `Symbol(BsRecord), Symbol(BsVariant)` available inside our records/variant objects that we exploit to extract record keys/variant name. Variants need to be parametrized though, plain variants are still compiled to number with `-bs-g` flag and thus have no meta

[2018-11-20 18:08] rickyvetter commented on #26
Hey folks - sorry not for weighing in on this sooner. The message is indeed put in place so that people actively think about their use case before reaching for this (or any other) state management library.

Who makes the decision about when/if this is unhealthy? I personally think that no amount of props passing is unhealthy, but you might feel differently. I do think that implying that it is unhe

[2018-11-20 19:49] jeremyjh commented on #26
@rickyvetter These are all great considerations but none of them are unique to Reason/OCaml. The verbiage in the README is specifically telling us: You may not need global state management, because `Reason`.  That statement I think, is incorrect. As I mentioned in my first post in this issue, I think these (and other things mentioned) in this issue are all great considerations and it would be nice

[2018-11-20 20:14] rickyvetter commented on #26
I don't think that is ever specifically said or implied. The caution says nothing about global state at all. The part about Reason building blocks is referring to first class algebraic data types. A lot of people are interested in Redux for the reproducible/standardized pattern of actions. This isn't necessary in JS either, but I think it's worth calling out that Reason/OCaml have this enum w/ pay

[2018-11-20 20:54] jeremyjh commented on #26
Good point. I guess I never thought of using a library like `reductive` for anything other than global state, so probably I was reading more into it than it really says.

[2018-11-27 17:13] nlfiedler commented on #27
I think this is fixed now.

[2018-11-27 23:33] rickyvetter commented on #36
Closing this since things seem to be - at least for now - back on track. Thanks for the wakeup call. Please reach out to me any time about this repo if things aren't moving the direction you want. I am terrible at responding on github, but working to get better! And I am actually pretty good on all other mediums :)

[2018-11-27 23:33] #36 closed

[2018-12-04 18:11] ambientlight commented on #24
@rickyvetter, @hedgepigdaniel: It would be great to have some progress on this.

I personally don't think `enhancer` labeled argument need to be removed, we can just rename it to middleware. We don't need `applyMiddleware` function in this way, since reductive  store's customDispatcher does what `applyMiddleware` when we chain the middleware with `@@`. It is great to have middleware available out

[2018-12-04 18:40] ambientlight commented on #24
@rickyvetter: so we can technically introduce another storeCreator function with `middleware` argument and mark `Reductive.Store.create` as deprecated. Calls will be highlighted with warning and we can keep the existing `Reductive.Store.create` infinitely long, just having the new storeCreator will remove this ambiguity. Or you think it's not worth it? Then maybe we should introduce the types abov

[2018-12-05 17:17] mnieber commented on #26
@rickyvetter I'm confused now. If reductive is intended as a "authoritative Redux implementation", then it's (not deliberately, but in a practical sense) misleading when it doesn't support the main use-cases that Redux supports.

[2018-12-05 19:21] rickyvetter commented on #26
@mnieber which use case(s) do you feel Reductive isn't supporting? I'm not sure I understand which cases you're thinking of. Is this in relation to a different issue? This one is specifically about the question of documentation.

[2018-12-05 19:24] rickyvetter commented on #24
Definitely on board with mentioning in docs and adding types that might help clarify things.

As far as making a breaking change I'm more hesitant. Do you feel like there is enough confusion here to warrant a breaking change?

[2018-12-05 19:46] ambientlight commented on #24
@rickyvetter: let's then maybe start with the pull requests with these types, docs and examples.

I would personally just attach deprecation notice that will emit warning to existing storeCreator and give an alternative storeCreator.

I am not super familiar, do we have enough editor/compiler support to give smart error messages here: `the parameter was renamed`?, then there will be less friction

[2018-12-05 20:24] mnieber commented on #26
I meant the use-case where components (aka container components) connect directly to the global application state,  instead of receiving this state as props from parent components.

By the way, there is another characteristic property of Redux which I feel is also not supported out of the box: the ability to combine reducers and still let each reducer process all actions. In Redux, this is the def

[2018-12-05 21:07] rickyvetter commented on #26
Agreed that usage pattern is a better term for the things we are talking about. I don't think reductive stops you from connecting each of your components directly to global state without passing props or from having all of your reducers act on the same top level actions. It just doesn't show any examples like that.

I don't think this is super relevant to the discouragement in readme conversation

[2018-12-06 02:58] rusty-key commented on #26
@rickyvetter, I think this discussion is in the spirit of my original message and doesn't need to be moved to a new issue.

The problem is not in discouragement itself. The problem is what it is implying. I read it like "You might not need this library _because_ ReasonReact comes with reducers". But these reducers are component-level, not global, so they are not covering the main use-case as @mnie

[2018-12-06 03:13] rickyvetter commented on #26
While I agree that it shouldn’t, I think the existence of reducers does cut prevent a lot of people from turning to a Redux-like library. The idea is to turn people away who are chasing fads or exciting libraries - or at least make them think! If you’ve decided that a Redux-like library is right for your app and that reducers don’t change that, then great!

Also, to be honest I don’t see any of th

[2018-12-06 06:37] rusty-key commented on #26
The precaution is misleading. It implies that you can replace this library with ReasonReact reducers, but you can't except for some specific case. The main case because of which people turn to Redux is not supported by ReasonReact reducers.

At least consider adding a bit of clarification:

I would even add a sentence or two about ease of passing props in ReasonReact as an alternative to global st

[2018-12-06 09:04] mnieber commented on #26
I must say I'm still confused :-). It's not clear to me a) how different Reductive really is from Redux, b) how much effort is required from the user to implement typical Redux patterns with Reductive, and c) how well this would perform.

However, I'm not advocating for any deep analysis of the differences (such an analysis would be nice of course but not essential). Instead, it would be great if

[2018-12-06 17:04] rickyvetter commented on #26
Yeah sounds great!

I don't know if I'm capable of making such a prediction, as I am not a typical Redux user. Happy to accept PRs if someone does have/can make this estimation.

a) Reductive at its core is almost identical to Redux (how different can you be in ~50 lines?) - but differs in that it doesn't encourage a lot of the same patterns.
b) again - I'm not the right person to ask here
c) Redu

[2019-01-09 14:22] rusty-key opened #39 "Broken build with in-source compilation"
After trying to use reductive in a fresh project, I experienced this runtime error:
[code]

The problem only occurs if I use in-source compilation. If I switch to `in-source: false`, it works perfectly fine.

After a bit of digging, I noticed that `reductive` depends on two versions of `bs-platform`:
https://github.com/reasonml-community/reductive/blob/d9903eb7a128edfa097f42d970c73775e9d24bd6/yarn

[2019-01-10 06:20] rusty-key opened #40 "Component doesn't update when props changed"
I have a component that is connected to the global state and also has prop passed from parent component:
[code]

When the counter is updated, the component doesn't re-render.

After looking at source code, I found out that component gets updated only when the global state is changed:
https://github.com/reasonml-community/reductive/blob/4e7ecfad749032079a64af4cbefca3f7b59c5ff5/src/reductive.re#L100

[2019-01-10 06:51] ambientlight commented on #40
@rusty-key: how is counter updated exactly?

[2019-01-10 07:37] rusty-key commented on #40
@ambientlight, does it matter? It is passed from the parent component. Here's an example:
[code]

[2019-01-10 15:35] rickyvetter commented on #39
Thanks for submitting a PR on immutable-re! I think we can probably move to use Belt data structures if you want a fix that doesn't depend on another repo. Belt is more stable, is actively supported, and doesn't introduce a new dependency since it ships with bs-platform.

[2019-01-10 16:21] rickyvetter commented on #40
I think it should also check to see whether the `component` prop has changed using retainedProps. That would definitely allow this kind of currying, but there might be other edge cases. At first glance I think that would cover all cases barring mutation and even then I think you're pretty limited in mutation because `component` is a function. You'd have to drop into JS to mutate the args list or s

[2019-01-10 16:25] ambientlight commented on #40
`shouldUpdate` approach to avoid re-renders needs to be reconsidered since we don't know if child component got updated.

The main motivation is avoiding needless rerenders when substates update. Example can be:
[code]
Here is were was the problem, Lense component updates its state on each action dispatched to the store, which will cause re-render even when the substate of interest is not updated:

[2019-01-10 17:00] rickyvetter commented on #40
I think this is a pretty aggressive stance. If the child component's state updates then it will still re-render. If it's props change (Reductive state), it will rerender. It's just this case of currying additional props that is problematic which is solved by checking `component`.

Not doing an update on state that is equal and removing shouldUpdate will also fix the problem though, so I'm open to

[2019-01-10 17:42] ambientlight commented on #40
@rickyvetter: typo in my formulation, I missed props in there.

Is the any way to access the retained props of child component?

I am submitting a small PR then.

[2019-01-10 19:14] rickyvetter commented on #40
No you can't tell this - but in this case all you would need to do would be tell if your own component prop changed - since identity would be tied to values passed to it.

[2019-01-10 19:39] #40 closed

[2019-01-15 22:08] ambientlight commented on #30
Integration with Redux devtools is now available with [ambientlight/reductive-dev-tools](https://github.com/ambientlight/reductive-dev-tools)

[2019-03-02 17:48] MargaretKrutikova opened #43 "Using ref instead of mutable in store record"
According to [`reason-react` docs](https://github.com/reasonml/reason-react/blob/master/docs/instance-variables.md) instance variables should be stored in `state` and be marked with `ref` instead of `mutable` to prepare for concurrent react.

I am unsure whether this makes any difference for a global state management solution like `reductive`, but would be nice to have a better insight into this f

[2019-03-03 15:35] bloodyowl commented on #43
the `ref` type is roughly:

[code]

so that wouldn't change much conceptually 😊

[2019-03-03 18:29] MargaretKrutikova commented on #43
hm... yes, that makes sense. However, the docs I linked show an example in [reasonml playground](https://reasonml.github.io/try.html?rrjsx=true&reason=C4TwDgpgBAzlC8UDeBDAXFAlgO2AGlgHsBbCASWxmBWwGMIA1FAJw2YgDMAKHYASgC+AbgBQAegBUUbIQDuUCWJEAbCMFjVg0REhFQo6KAEY8eoqQpUa9JqyjtuAJj4jh4qRGIBXZSi1QAAystAINaehg4DmYSKFplQhgvdgA6KAAVAAtodhQAEyhCDkDgiFDiTABzTPUAI2grVShakChgbLbMUixgAHI4CAAPCFovLTyMRXcoDi9sZFK

[2019-06-14 23:58] tizoc opened #44 "Support for JSX 3 and [@react.component]"
Was playing with Reactive and noticed that Provider components don't work with components defined using the new JSX 3 syntax.

Is support for that planned?

I'm not sure whats the proper way (if there is one) for supporting both new style JSX3 components and old-style JSX2 components.

[2019-07-11 16:34] nlfiedler commented on #44
I would love to fix this, if I knew how to either 1) support JSX3 or 2) support both. But I cannot find any reference material discussing the changes with JSX3. Can anyone offer some references, please?

[2019-07-11 17:32] tizoc commented on #44
I'm not using reactive, but the version I wrote for playing with it using JSX3 looked like this:

[code]

[2019-07-11 17:42] tizoc commented on #44
It uses a functor instead of a `createMake` function that returns a function like the current implementation.

Example:

[code]

and

[code]

[2019-07-11 19:35] MargaretKrutikova commented on #44
@tizoc , nice implementation! Another way would be to not use lenses at all and go with hooks, like they now have in `react-redux`. The api becomes much simpler in that case, you would do something like:
[code]
without the need to wrap components into lenses.
This can be implemented by putting the store into `React` context, exposing `Provider` and using `useContext` to implement `useSelector`.
I

[2019-07-11 19:51] tizoc commented on #44
@MargaretKrutikova a hooks API would be much better, and having React manage the state too. What I couldn't figure out was how to subscribe to a sub-part (the `counter` property in your example) of the context without triggering a re-render of all the components that only care about a small part when the root context changes.

I am interested in your implementation, and more so if you were able to

[2019-07-11 21:50] MargaretKrutikova commented on #44
Yes, I solved the issue with unnecessary rerenders, but I took a lot of inspiration from `react-redux` and studied the code on their side.
I created a `useSelector` hook which selects the necessary state portion and keeps it in a reference (`useRef`).  It subscribes to the store and every time some action is dispatched it re-queries the state and compares it to the state stored in the ref (compari

[2019-07-12 15:20] tizoc commented on #44
@MargaretKrutikova that looks great, thank you!

[2019-07-12 15:28] MargaretKrutikova commented on #44
No problem!
There are a few edge cases that need to be handled though, like if `selector ` function changes there should be `useEffect` handling it.
Then there is this "zombie-child" problem that can only appear if children connect to store before their parent and might start querying data that doesn't exist before the parent has time to rerender the children ... weird stuff 🙂

I am thinking about

[2019-07-12 16:13] tizoc commented on #44
Maybe it is because I come to Reason from OCaml (can't meaningfully compare functions), but I wouldn't worry about changing selectors, I would just mention that the selector should not change in the documentation.

[2019-07-27 21:34] tizoc commented on #44
Just pushed [a cleaner implementation](https://github.com/tizoc/refractive) of what I described in #45.

Instead of changing Reductive what I did was to implemente lenses and tracked selectors, with an enhancer for the store. Right not the implementation may be a bit simplistic, in particular, paths-as-strings that get compared may not be enough for all cases. Nothing was done yet about using a PP

[2019-09-17 22:12] MargaretKrutikova commented on #44
I think everything is ready for the release of the new version with hooks 😄 @rickyvetter, thanks a lot for your guidance! could you help publish an official release?

[2019-09-21 15:36] albertoforni opened #48 "ReductiveContext doesn't use the value provided by the ContextProvider"
I noticed that when using `useSelector` and `useDispatch`, it doesn't really matter the value passed by the `<Store.Provider>` since a valid store is passed in directly from the module when included.

So for example if we remove
`<ThunkedStore.Provider>` from this example https://github.com/reasonml-community/reductive/blob/master/examples/react/reactEntry.re#L3 it still works.

I don't think this

[2019-09-21 22:58] MargaretKrutikova commented on #48
Yes, that would be great! Totally missed that, really good point about testing, and of course a PR is highly appreciated!

I guess we can also make `getStoreFromContext` into a hook called `useStore`? Just to follow the convention for custom hooks 😄

[2019-09-21 23:02] MargaretKrutikova commented on #44
Available from v1.1.0.

[2019-09-21 23:02] #44 closed

[2019-09-24 20:01] MargaretKrutikova commented on #48
Released under v2.0.0, thanks a lot for your contributions!

[2019-09-24 20:01] #48 closed

[2019-09-30 17:37] rickyvetter commented on #43
For the function api I think preferring `useRef` where possible makes sense. For the old API yes, you must use a ref inside of state instead of a mutable field. Is there a scenario in the function api where useRef doesn't make sense?

[2019-10-14 19:46] thislogancall opened #51 "Using dispatch as custom hook dependency re-renders hook repeatedly"
I have this custom hook that utilizes dispatch and has it listed as a dependency. Doing this causes the hook to re-run repeatedly when used inside component.

Custom hook:
[code]

Hook being used:
[code]

Note that when I use `useCallback0` instead of `useCallback1` and remove `dispatch` as a dependency of the hook, it only runs once as expected.

[2019-10-14 19:59] MargaretKrutikova commented on #51
Oh, yes, I looked at the implementation real quick and noticed that it is not memoizing `dispatch`, so every time you use `useDispatch`, a new function is created. I will prepare a fix for this 😄

[2019-10-14 20:11] thislogancall commented on #51
Thank you :)

[2019-10-15 19:34] #51 closed

[2019-10-15 19:45] MargaretKrutikova commented on #51
Published in `v2.0.1`.

[2019-12-01 08:31] ambientlight commented on #30
now with upcoming: [What's new in release 7](https://bucklescript.github.io/blog/2019/11/18/whats-new-in-7), having records compiled into JS objects may results in cleaner representation in devtools monitor, as currently [reductive-dev-tools](https://github.com/ambientlight/reductive-dev-tools) carries `__internal` (displayed in the monitor) around to help serialize / deserialize ocaml types into

[2019-12-05 13:28] TomiS opened #54 "Somewhere wanted unit problem"
Hey

I'm trying to use reductive in an environment with BS 7.0.0

I keep getting an error like this:
[code]
Based on examples, my setup looks ok. Anyone else experienced the same?

[2019-12-05 13:33] TomiS commented on #54
Ah, 5 seconds after posting I managed to get more specific error. I think the problem is related to my reducer. Closing. Sorry.

[2019-12-05 13:33] #54 closed

[2019-12-05 13:35] TomiS commented on #54
If anyone end up here, the reason was that the reducer was not returning a new state because the developer (me) is a noob.

[2019-12-09 09:17] TomiS commented on #26
So, it's almost 2020 and everyone's using context now. Correct me if I'm wrong but isn't the way the context behaves so that whenever anything in context changes, it will trigger a re-render in all components using the context. It feels to me, that for larger apps, it makes it pretty much unusable at least as a trivial solution. Maybe if one splits the context to multiple nested providers touching

[2019-12-11 08:05] mnieber commented on #26
@TomiS I don't have any data on this, but I expect that using context (which was always there, by the way) hasn't replaced the default patterns for connecting to the data store. Also, I think that using context *should* be the exception.

[2019-12-14 23:04] MargaretKrutikova commented on #26
@TomiS You are not missing anything, using `context` and `useContext` doesn't allow to bail out of re-rendering the same way `useState` does, so if you have components that are only interested in subscribing to a part of the state in your context, they will still re-render if anything on the state changes. Moreover, `react-redux` tried to use context to propagate state updates in v6 and eventually

[2019-12-15 16:33] TomiS commented on #26
@MargaretKrutikova Thanks for confirming my thoughts. Also, `reason-react-elmish` looks very interesting. I'm absolutely going to try to fit it into the app I'm working on atm.

I'm looking at the example in the repo. I'm assuming that message == action, model == state and update == reducer? Truthfully, I'm not quite understanding how the success action actually changes the data in the store thoug

[2019-12-15 18:12] MargaretKrutikova commented on #26
Yes, those are the concepts coming from `elm`, where your reducer (update function) will return a tuple with a new model and  a command, which translates into state and a side effect.

When you get back the data from the api, `FetchUsersSuccess` gets dispatched and processed by the reducer here:
[code]

[2019-12-15 18:29] TomiS commented on #26
@MargaretKrutikova Ah, you don't need the previous state at all because in this quite simple example you're replacing the whole state on each reducer call. The lack of previous state confused me. Slow brain on Sunday, it seems. :) But thanks again.

[2020-01-27 09:09] ambientlight commented on #26
@MargaretKrutikova
Just saw this one and decided to publish redux-observable port to reason I've been using internally.
Take a look: https://github.com/ambientlight/reductive-observable

[2020-02-01 05:18] ambientlight opened #57 "Idea: Fractal stores: expose substore with attached local component scoped reducer"
This made way to angular redux bindings [fractal-store.md](https://github.com/angular-redux/store/blob/master/articles/fractal-store.md), while popped out while reviewing the code I wrote previously where I found myself doing something like:

1. decorate a local reducer with global dispatch
[code]

2. as local reducer operates on local components hook's `useReducer` store, I would relay(or passthr

[2020-07-09 20:57] thislogancall opened #60 "Update to JSX v3 to support BuckleScript 8"
Are there any plans or current progress on updating reductive to use jsx v3 so that it will compile with BuckleScript v8?

[2020-07-16 12:13] rolandpeelen commented on #60
+1 on this

[2020-08-13 23:32] #60 closed

[2020-08-14 06:01] rolandpeelen commented on #60
@rickyvetter - Thanks for merging my PR. Would you also be able to draft a release? I'd be happy to do it myself as well, but then I'd need to become a collaborator :)

[2020-08-24 10:51] TomiS opened #65 "Moving memoized selectors outside of the component?"
Hey, I'm writing this mostly to ask feedback and possibly suggest a new example on the web page.

I've been slightly bothered by the fact that without something like the [reselect](https://github.com/reduxjs/reselect) library (for redux) it's quite easy to end up causing unwanted rerenders with reductive. (In real life - at least in my reality - the global state often needs to be manipulated into

[2020-08-31 07:30] rolandpeelen commented on #60
@rickyvetter -- Gentle reminder that the release still needs to happen, technically, this issue hasn't been resolved ;)

[2020-09-10 14:47] rolandpeelen opened #66 "Draft a release"
After merging this: https://github.com/reasonml-community/reductive/pull/63 - it would be a tremendous help if we could get a new release going so we can upgrade to the latest bs-platform.

I would happily volunteer to become a maintainer if that helps things. It seems you (@rickyvetter) are rather busy, so perhaps I can take some of it off your plate :)

[2020-09-21 08:49] #66 closed, assigned to nobody

[2020-10-10 08:46] froatsnook opened #68 "useSelector not memoized?"
Hi, I believe that selectors aren't memoized (per app state), though I'm not sure if this is an intended feature. I believe I'm using reductive in the normal manner, as follows:

I have a file called Selectors.re which has selectors defined like:

[code]

I am using the same selector in multiple components using:

[code]

I tested memoization by adding a `Js.Console.log` in my selector and saw tha

[2020-10-10 08:53] froatsnook commented on #65
I solve this problem in a very similar way:

[code]

[2020-10-12 11:03] TomiS commented on #65
Ah, of course... It's possible to wrap the selector into a reusable hook. Nice.

[2021-05-25 06:16] addicteduser opened #74 "ReasonReact to ReScript/React migration"
Since [ReasonReact will be rebranding to ReScript/React](https://reasonml.github.io/reason-react/blog/2021/05/07/rescript-migration), will there be an update for Reductive? The current version of Reductive is throwing `Error: package reason-react not found or built` to the latest installation of ReScript/React.

[2021-06-03 10:11] sudo97 commented on #74
I would love to see this or to do this, if no one minds, I could fork it and provide migration. Cause it seems like reason is going to live separately now

[2021-10-10 10:33] Minnozz commented on #74
@rickyvetter Could you give your thoughts on this?

[2022-02-23 11:07] spirobel commented on #26
I dont know if you follow redux toolkit maintainer Mark Erikson and his work? He recently did some work to accommodate more usecases that are currently served well by redux-saga. Please take a look at this for further reference: https://github.com/reduxjs/redux-toolkit/discussions/1648
An objection against redux saga is that the generator yield syntax is too much to learn for people.
Currently red